@import "tailwindcss";
:root{

--background:#0D0D0D;

--surface:#151515;

--card:#1E1E1E;

--primary:#C62828;

--primary-hover:#B71C1C;

--text:#F5F5F5;

--text-secondary:#BDBDBD;

}

body{

background:var(--background);

color:var(--text);

font-family:'Inter',sans-serif;

}